.error-box{
  font-weight: bold;
  background: gray;
  border-radius: 50px;
  display: inline;
  position: absolute;
  bottom: 0;
  margin: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  padding: 10px;
  color:white;
  opacity: 0;
}
.parent{
  position: relative;

}
.set-height{
  height: 400px;
  overflow: auto;
}

.error-box.show {
  visibility: visible; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.make-errors-sticky{
  position: sticky;
  top: 0;
}

.error-list{
  list-style-type: none;
  padding: 0;
  color: #fff;
}
.error-list-item{
  padding: 5px;
  background: #deafaf;
  border: 1px solid rgba(0,0,0,.125);
  padding-right: 15px;
}
.close-item:before{
  content:'x'
}
.close-item{
  float: right;
  color: black;
  font-weight: bold;
}
